body{
  background-color: gray;
  margin: 0px;
}
.nav-bar{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  height: 20px;
}
.sub-nav{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.signup-form{
  display: flex;
  flex-direction: column;
  width: 200px;
  gap:20px;
  align-items: center;
}
.signup-form button{
  width: 50px;
  background-color: blue;
  color: white;
  border-radius: 100%;
}
.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: white;
}
.container{
  height: 80vh;
  width: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

